<div class="about-container">
    <h2 class="section-title">About Me</h2>
    <p>
      I am a passionate Full Stack Developer with a strong foundation in Java, JavaScript, and Python. With a Bachelor's degree in Electronics and Communication from Godavari Institute of Engineering and Technology, I have gained a solid understanding of programming concepts and software development methodologies. My experience includes working as a Consultant in Product Engineering at CLOUDPLINTH, where I contributed to the successful development of an ERP system and implemented a streamlined low-code framework. I am dedicated to continuous learning and staying updated with the latest technologies.
    </p>
  </div>
  