.experience-container {
    text-align: center;
  }
  
  .section-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .experience-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .experience-item {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    background-color: #f7f7f7;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .experience-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .job-title {
    font-size: 20px;
    font-weight: bold;
  }
  
  .job-period {
    color: #888;
  }
  
  .job-company {
    font-size: 18px;
    font-weight: bold;
  }
  
  .job-location {
    color: #888;
  }
  
 