<div class="projects-container">
    <h2 class="section-title">Projects</h2>
    <div class="project-cards">
   
      <div class="project-card">
        <img src="project1-image.jpg" alt="Project 1">
        <h3 class="project-title">Project 1 Title</h3>
        <p class="project-description">A brief description of Project 1 goes here.</p>
      </div>
  
     
      <div class="project-card">
        <img src="project2-image.jpg" alt="Project 2">
        <h3 class="project-title">Project 2 Title</h3>
        <p class="project-description">A brief description of Project 2 goes here.</p>
      </div>

       
        <div class="project-card">
            <img src="project2-image.jpg" alt="Project 2">
            <h3 class="project-title">Project 2 Title</h3>
            <p class="project-description">A brief description of Project 2 goes here.</p>
          </div>
    </div>
  </div>
  