<div class="contact-container">
    <h2 class="section-title">Contact</h2>
    <div class="contact-details">
      <div class="contact-item">
        <div class="contact-icon">
          <fa-icon [icon]="['fas', 'envelope']"></fa-icon>
        </div>
        <a href="mailto:dinesh.manikanta9@gmail.com">dinesh.manikanta9@gmail.com</a>
      </div>
      <div class="contact-item">
        <div class="contact-icon">
          <fa-icon [icon]="['fas', 'map-marker-alt']"></fa-icon>
        </div>
        <span>Hyderabad, India</span>
      </div>
      <div class="contact-item">
        <span class="contact-icon" data-icon="&#xf08c;"></span>
        <a href="https://www.linkedin.com/in/dinesh-manaikantha/" target="_blank">LinkedIn Profile</a>
      </div>
    </div>
  </div>
  