<div class="achievements-container">
    <h2 class="section-title">Achievements</h2>
    <ul class="achievements-list">
      <li>Recognized with the 'Merit' award for outstanding academic performance during intermediate studies.</li>
      <li>Recognized with the 'Spot Award' for exceptional contribution to increasing code coverage metrics in SonarQube at Ford Motor Private Limited.</li>
    </ul>
  
    <h2 class="section-title">Certifications</h2>
    <ul class="certifications-list">
      <li>Online Course in Python for Data Science (IBM)</li>
      <li>Microsoft Azure Fundamentals: AZ-900 (Microsoft Certified: Azure Fundamentals)</li>
      <li>Oracle Cloud Data Management 2023 Foundations Associate (1Z0-1105-23)</li>
    </ul>
  </div>
  