<div class="home-container">
    <div class="content">
      <h1>Welcome to My Portfolio</h1>
      <p class="quote">"The only way to do great work is to love what you do." - Steve Jobs</p>
      <div class="buttons">
        <button class="contact-button">Contact Me</button>
        <button class="know-more-button">Know More</button>
      </div>
    </div>
    <div class="image-blob-container">
      <img src="../../assets/IMG_20230510_195653_056.jpg">
    </div>
  </div>

  <div class="summary-container">
    <div class="summary-content">
      <p class="brief-intro">Brief Intro:</p>
      <p class="intro-quote">
        <span class="quote-symbol">&ldquo;</span>
        Passionate full-stack developer with a proven track record in crafting efficient and innovative software solutions. Expertise in 
        <i class="fab fa-java"></i> Java, 
        <i class="fab fa-js"></i> JavaScript, and 
        <i class="fab fa-python"></i> Python, backed by strong proficiency in 
        <i class="fab fa-angular"></i> Angular, 
        <i class="fab fa-java"></i> Spring Boot, and more. Adept at translating business requirements into robust applications, I thrive in collaborative environments and drive cross-functional teams to success. My commitment to clean code, user-centric design, and continuous learning fuels my mission to create impactful digital experiences.
        <span class="quote-symbol">&rdquo;</span>
      </p>
    </div>
  </div>